/* Add here all your css styles (customizations) */
img.fitsize {
    width: 200px; /* You can set the dimensions to whatever you want */
    height: 200px;
    object-fit: cover;
}

html {
	cursor: url('../img/cursors/cursor_wait.cur'), progress;
	cursor: url('../img/cursors/cursor.cur'), auto;
}

.social-network-link {
	display: inline;
}

@media (max-width: 767px) {
    ul#js-scroll-nav {
        font-size: 15px !important;
    }
}

/* un poco de padding para el logo principal */
section#home .img-fluid {
    padding: 60px 20px 20px 20px;
}

div#calendario {
    margin-top: 120px;
}

section#schedule {
    margin-bottom: 60px !important;
}

@media (max-width: 767px) {
    div#calendario ul.nav {
        display: block !important;
    }

    div#calendario a.js-tabs-mobile-control {
        display: none;
    }

    div#calendario ul.nav li {
        width: 100%;
        padding-bottom: 2px;
        margin: 0px;
    }

    div#calendario ul.nav li a {
        padding: 10px 0px 8px 0px;
    }

    [data-tabs-mobile-type="slide-up-down"].u-nav-primary .nav-link.active {
        color: #f73859 !important;
    }

    div#calendario #days {
        margin-top: 40px;
    }
}

/* eliminar oscurecimiento de imágenes en calendario */
div#calendario .g-bg-darkblue-opacity-0_7--after::after {
    background-color: transparent !important;
}
div#calendario .g-bg-darkblue-opacity-0_7--after:after {
    background-color: transparent !important;
}

/* texto sin justificación */
.text-justify {
    text-align: left !important;
}

/* texto en pie con suficiente padding */
footer .u-bg-overlay__inner.g-width-780.mx-auto {
    padding: 0px 30px;
}

footer #contact {
    padding-bottom: 50px !important;
}

.gt-nvframe{display:none !important;}
.goog-te-banner-frame{display:none !important;}
/* body#posadasbody{top:0px !important;} */