/* Add here all your css styles (customizations) */
img.fitsize {
    width: 200px; /* You can set the dimensions to whatever you want */
    height: 200px;
    object-fit: cover;
}

html {
	cursor: url('../img/cursors/cursor_wait.cur'), progress;
	cursor: url('../img/cursors/cursor.cur'), auto;
}

.social-network-link {
	display: inline;
}
